.DPFrame {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; WIDTH: 140px
}
#dpDropDownTable {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: lightgrey 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: lightgrey 1px solid; CURSOR: default; DISPLAY: none; POSITION: absolute;
}
.DPTitle {
	BACKGROUND-COLOR: #00008b; COLOR: #fffacd; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-ALIGN: center
}
.DPWeekName {
	BORDER-BOTTOM: black 1px solid; COLOR: #00008b; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-ALIGN: center
}
.DPCellOther {
	COLOR: silver; CURSOR: hand; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-ALIGN: center
}
.DPCell {
	COLOR: #00008b; CURSOR: hand; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-ALIGN: center
}
.DPCellSelect {
	BACKGROUND-COLOR: #ffa07a; COLOR: #000000; CURSOR: hand; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-ALIGN: center
}
.DPYear {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; COLOR: blue; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-ALIGN: right
}
.DPYearDes {
	BACKGROUND-COLOR: transparent
}
.DPMonth {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; COLOR: blue; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-ALIGN: right
}
.DPMonthDes {
	BACKGROUND-COLOR: transparent
}
.DPDay {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; COLOR: blue; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-ALIGN: right
}
.DPDayDes {
	BACKGROUND-COLOR: transparent
}
.DPSep {
	BACKGROUND-COLOR: transparent; WIDTH: 10px
}
A.DPDropBtn:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.DPDropBtn:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.DPDropBtn:hover {
	COLOR: blue; TEXT-DECORATION: none
}
.DPBtn {
	BACKGROUND-COLOR: silver; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: white 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: white 1px solid; COLOR: black; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; WIDTH: 16px
}
.clsTD {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; COLOR: #000000; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-ALIGN: left; WIDTH: 150px
}
.clsTR {
	BACKGROUND-COLOR: #ffffff; COLOR: #fffacd; CURSOR: hand; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-ALIGN: left; WIDTH: 300px
}
